<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="MyComponent.js" type="module"></script> -->
    <script src="/script/app.js"></script>
    <!-- <script src="/script/my-component.js"></script> -->
</head>
<body>
    <!-- <script src="component.js"></script> -->
    <!-- button -->
    <!-- <my-component></my-component> -->
    <!-- <h1>hello</h1> -->
    <!-- <main>

    </main> -->
    <!-- <button>tekan</button> -->
    <!-- <script src="app.js" type="module"></script> -->
    <!-- <my-component></my-component> -->
    
</body>
</html>